spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/camly
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        "[format_sql]": true
  flyway:
    enabled: true
    baseline-on-migrate: true
  data:
    redis:
      host: localhost
      port: 6379
  mail:
    host: localhost
    port: 1025
    username:
    password:
    properties:
      mail:
        smtp:
          auth: false
          starttls:
            enable: false
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

logging:
  level:
    "[org.hibernate.SQL]": DEBUG
    "[org.hibernate.type]": TRACE
    "[org.springframework.security]": DEBUG

camly:
  jwt:
    secret: ${JWT_SECRET:devSecretKeyForDevelopmentDoNotUseInProduction}
    expiration: 86400000 # 24 hours in milliseconds
  storage:
    minio:
      endpoint: http://localhost:9000
      access-key: minioadmin
      secret-key: minioadmin
      bucket-name: camly-images
      secured: false